* {
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: #D45959;
    background: url("../achtergrond.jpg") no-repeat fixed;
    background-size: cover;
    text-align: center;
}

p {
    font-size: 22px;
    color: black;
}

#naam {
    font-weight: bold;
    font-size: 28px;
}

#menuhoofd {
    margin: 0;
    padding: 0;
    list-style: none;
}

#menuhoofd li{
    float: left;
}

li a:hover {
    text-decoration: none;
    color: lightgrey;
}

li a:active {
    text-decoration: none;
    color: lightsteelblue;
}

li a {
    display: block;
    color: white;
    padding: 16px;
    text-decoration: none;
    font-size: 18px;

}

#welkomtitel {
    margin-top: 50px;
    font-weight: bold;
    color: lightcoral;
    animation: welkomanimatie 2s;
    -webkit-animation: welkomanimatie 2s;
    -moz-animation: welkomanimatie 2s;
    -o-animation: welkomanimatie 2s;
    padding-top: 50px;

}

#fotovanmij {
    height: 250px;
    width: 250px;
    margin: 50px;
    border-radius: 100%;
}

.subtitels {
    font-weight: bold;
    margin-bottom: 50px;
    padding-top: 70px;
    color: black;
}

.sublijst {
    font-size: 20px;
    font-weight: bold;
    color: slategray;
    list-style-type: none;
}

.textcontainer a {
    text-decoration: none;
    color: #282a2d;
    font-size: 22px;
}
.textcontainer a:hover {
    color: black;
}

#dropdown button {
    color: white;
}

#contact {
    background-color: #282a2d;
    background: url("../achtergrond.jpg") no-repeat;
    background-size: cover;
    padding-top: 15px;
    padding-bottom: 20px;
    margin-bottom: 0;
}

#contact *{
    font-size: 15px;
    color: black;
}


@keyframes welkomanimatie {
    from {
        font-size: 60%;
        color: white;
    }
    to {
        font-size: 255%;
        color: lightcoral;
    }
}

@-webkit-keyframes welkomanimatie {
    from {
        font-size: 20%;
        color: white;
    }
    to {
        font-size: 100%;
        color: lightcoral;
    }
}

@-moz-keyframes welkomanimatie {
    from {
        font-size: 20%;
        color: white;
    }
    to {
        font-size: 100%;
        color: lightcoral;
    }
}

@-o-keyframes welkomanimatie {
    from {
        font-size: 20%;
        color: white;
    }
    to {
        font-size: 100%;
        color: lightcoral;
    }
}


.textcontainer {
    padding-bottom:200px;
    display: block;
    margin: auto;

}

.subtext {
    margin-left: 120px;
    margin-right: 120px;
}

#voorpagina {
    padding-bottom: 300px;
    padding-top: 40px;
}


#backtotop {
    margin-top: 50px;
    margin-bottom: 50px;
}

#social img:first-child {
    height: 30px;
    margin-left: 20px;
}

#dropdown {
    display: none;
}
#dropdown-menu li {
    float: none;
}

#social {
    margin-bottom: 300px;
}

#social a:hover {
  text-decoration: none;
}


@media (max-width: 760px) {
    .subtext {
        margin-left: 15px;
        margin-right: 15px;
    }
    #welkomtitel {
        margin-top: 10px;
    }
    .subtitels {
        padding-top: 100px;
    }
    #voorpagina {
        padding-top: 40px;
        padding-bottom: 100px;
    }

    body {
        background: none;
        background-color: blanchedalmond;
    }
    p {
        font-size: 19px;
    }

    #voorpagina {
        background: url("../achtergrond_fixed.jpg") no-repeat 100%;
        margin-bottom: 0;
    }

    .textcontainer {
        background: url("../achtergrond_fixed.jpg") no-repeat 100%;
        border-top: 3px solid;
    }
    .menuhide {
        display: none;
    }
    #dropdown {
        display: inline;
    }
    #dropdown li {

    }
    #backtotopcontainer {
        border-top: 3px solid;
    }
}
