* {
    font-family: 'Montserrat', sans-serif;
}

body {
    background: url("../achtergrond.jpg") no-repeat fixed;
    background-size: cover;
    text-align: center;
}

p {
    font-size: 22px;
    color: black;
}

#naam {
    font-weight: bold;
    font-size: 28px;
}

#menuhoofd {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #282a2d;
}
#menuhoofd li {
    float: right;
    text-align: center;
    margin-left: 30px;
    margin-right: 60px;
}


li a:hover {
    text-decoration: none;
    color: lightgrey;
}

li a:active {
    text-decoration: none;
    color: lightsteelblue;
}

li a {
    display: block;
    color: white;
    padding: 16px;
    text-decoration: none;
    font-size: 18px;

}


#welkomtitel {
    margin-top: 100px;
    font-weight: bold;
    color: lightcoral;
    animation: welkomanimatie 2s;
    -webkit-animation: welkomanimatie 2s;
    -moz-animation: welkomanimatie 2s;
    -o-animation: welkomanimatie 2s;
    padding-top: 50px;

}

#fotovanmij {
    height: 250px;
    width: 250px;
    margin: 50px;
    border-radius: 100%;
}

.subtitels {
    font-weight: bold;
    margin-bottom: 50px;
    padding-top: 70px;
    color: black;
}

.sublijst {
    font-size: 20px;
    font-weight: bold;
    color: slategray;
    list-style-type: none;
}

.textcontainer a {
    text-decoration: none;
    color: #282a2d;
    font-size: 22px;
}
.textcontainer a:hover {
    color: black;
}






@keyframes welkomanimatie {
    from {
        font-size: 60%;
        color: white;
    }
    to {
        font-size: 255%;
        color: lightcoral;
    }
}

@-webkit-keyframes welkomanimatie {
    from {
        font-size: 20%;
        color: white;
    }
    to {
        font-size: 100%;
        color: lightcoral;
    }
}

@-moz-keyframes welkomanimatie {
    from {
        font-size: 20%;
        color: white;
    }
    to {
        font-size: 100%;
        color: lightcoral;
    }
}

@-o-keyframes welkomanimatie {
    from {
        font-size: 20%;
        color: white;
    }
    to {
        font-size: 100%;
        color: lightcoral;
    }
}



.textcontainer {
    padding-bottom:200px;
    display: block;
    margin: auto;

}

.subtext {
    margin-left: 120px;
    margin-right: 120px;
}

#voorpagina {
    padding-bottom: 400px;
    padding-top: 40px;
}

@media (max-width: 760px) {
    #menuhoofd li {
        float: left;
        margin: 2px;
        padding-left: 40px;
    }
    #menuhoofd li a {
        padding: 5px;
        margin-bottom: 6px;
    }

     .subtext {
         margin-left: 15px;
         margin-right: 15px;
     }
    .subtitels {
        padding-top: 100px;
    }
    #voorpagina {
        padding-top: 40px;
        padding-bottom: 100px;
    }

    body {
        background: url("../mobielachtergrond.png") no-repeat fixed;
        background-size: 100%;
    }
    p {
        color: white;
        font-size: 16px;
    }
    .subtitels {
        color: white;
    }
    .textcontainer a {
        color: white;
    }
    
    #social img:first-child {
    width: 30%;
    margin-left: 20px;
}


}

#backtotop {
    margin-top: 50px;
}

#social img:first-child {
    width: 1.8%;
    margin-left: 20px;
}
